# Ignore everything
/[!.]*
/.?*

# ... except for dependencies and source
!/main.py
!/requirements.txt
!/token.pickle
!/ProjectPredictor.py
!/Calendar2Toggl.py
!/DataStorer.py
!/Pipfile
!/Pipfile.lock
!/Dockerfile
!/train.py